<div class="sidebar">
  <mat-nav-list>
    <a mat-list-item class="sidebar-item" routerLink="/dashboard" routerLinkActive="active" #menuItem>
      <i class="fas fa-home icon"></i>
      <span class="menu-text">Dashboard</span>
    </a>
    <a mat-list-item class="sidebar-item" routerLink="/users" routerLinkActive="active" #menuItem>
      <i class="fas fa-users icon"></i>
      <span class="menu-text">Users</span>
    </a>
    <a mat-list-item class="sidebar-item" routerLink="/reports" routerLinkActive="active" #menuItem>
      <i class="fas fa-chart-bar icon"></i>
      <span class="menu-text">Reports</span>
    </a>
    <a mat-list-item class="sidebar-item" routerLink="/settings" routerLinkActive="active" #menuItem>
      <i class="fas fa-cog icon"></i>
      <span class="menu-text">Settings</span>
    </a>
  </mat-nav-list>
</div>
